<section id="inventaire" class="col-12">
    <div class="row col-12" id="forme_inventaire">
        <button id="rectangle" >Rectangle</button>
        <button id="cercle" >Cercle</button>
        <button id="carre" >Carré</button>
        <button id="texte" >Texte</button>
        

    </div>
</section>