{{ form_start(formcategorie) }}
    {{ form_row(formcategorie.name, {'attr': {'class': 'input-color'}}) }}
    <button class="btn btn-order" type="submit">{{ button_label|default('Ajouter') }}</button>
{{ form_end(formcategorie) }}