{% extends 'base.html.twig' %}

{% block title %}  Ajout categorie{% endblock %}

{% block body %}

    {% block header %} {% endblock %}
    <h1>Ajout categorie</h1>
    {% include "admin/categorie/_formcategorie.html.twig" %}
{% endblock %}