{% extends 'base.html.twig' %}

{% block title %}  Admin categorie{% endblock %}

{% block body %}

    {% block header %} {% endblock %}
    <h1>Admin categorie</h1>
    <a href="{{ path('app_add_categorie') }}" class="btn btn-order m-4">
        <i class="fas"></i> <span class="d-none d-sm-block"><p>Ajouter une categorie</p></span>
    </a>

    {% for categorie in categorie %}
     <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-5">name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ categorie.name }}</td>
                <div class="d-flex justify-content-center">
                <td class="col-5">
                    <a href="{{ path('app_edit_categorie', {'id': categorie.id}) }}" class="btn btn-order">
                        <i class="fas fa-pencil-alt"></i> <span class="d-none d-sm-block"><p>Modifier la categorie</p></span>
                    </a>
                    <a href="{{ path('app_supp_categorie', {'id': categorie.id}) }}" class="btn btn-order">
                        <i class="fas fa-trash-alt"></i> <span class="d-none d-sm-block"><p>Supprimer la categorie</p></span>
                    </a>
                    </div>
                </td>
            </tr>  
        </tbody>
    </table>
    {% endfor%}
{% endblock %}