{% extends 'base.html.twig' %}

{% block title %}  AjoutUser{% endblock %}

{% block body %}

    {% block header %} {% endblock %}
    <h1>Ajout user</h1>
    {% include "admin/user/_formuser.html.twig" %}
{% endblock %}