{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Conditions Générales de Vente</h1>

        <h2>1. Objet</h2>

        <p class="merriweather">
            Les présentes conditions générales de vente (CGV) régissent les relations contractuelles entre [Nom de votre entreprise] et
            les utilisateurs du site web [votre-site-web.com]. En passant une commande sur notre site, vous acceptez pleinement et sans réserve
            les présentes CGV.
        </p>

        <h2>2. Produits</h2>

        <p class="merriweather">
            Les produits proposés à la vente sur notre site sont décrits avec la plus grande précision possible. Cependant, des variations
            peuvent exister entre la représentation visuelle des produits sur notre site et les produits réels. Nous nous efforçons de fournir
            des informations complètes et exactes sur nos produits, mais nous ne pouvons pas garantir leur exactitude à 100%.
        </p>

        <h2>3. Commandes</h2>

        <p class="merriweather">
            Pour passer une commande sur notre site, vous devez être majeur et avoir la capacité juridique. Vous devez suivre les étapes indiquées
            sur notre site pour finaliser votre commande. Une fois votre commande passée, vous recevrez une confirmation par e-mail avec les détails
            de votre commande.
        </p>

        <h2>4. Prix et paiement</h2>

        <p class="merriweather">
            Les prix indiqués sur notre site sont en euros et toutes taxes comprises (TTC), sauf indication contraire. Les frais de livraison sont
            calculés et ajoutés au montant total de votre commande. Le paiement s'effectue lors de la validation de votre commande, par les moyens
            de paiement proposés sur notre site.
        </p>

        <h2>5. Livraison</h2>

        <p class="merriweather">
            Nous nous engageons à expédier les produits dans les meilleurs délais après réception de votre commande et de votre paiement.
            Les délais de livraison peuvent varier en fonction de votre lieu de résidence. Les frais de livraison sont indiqués lors du processus
            de commande et peuvent varier en fonction du poids, de la taille et de la destination de votre colis.
        </p>

        <h2>6. Retours et remboursements</h2>

        <p class="merriweather">
            Si vous souhaitez retourner un produit et demander un remboursement, veuillez nous contacter dans les [nombre de jours] jours suivant
            la réception du produit. Les produits doivent être retournés dans leur état d'origine et dans leur emballage d'origine. Les frais de retour
            sont à votre charge, sauf en cas de produit défectueux ou non conforme.
        </p>

        <h2>7. Propriété intellectuelle</h2>

        <p class="merriweather">
            Tous les contenus présents sur notre site (textes, images, logos, etc.) sont protégés par le droit d'auteur et la propriété intellectuelle.
            Toute reproduction ou utilisation non autorisée de ces contenus est strictement interdite.
        </p>

        <h2>8. Protection des données personnelles</h2>

        <p class="merriweather">
            Nous nous engageons à protéger vos données personnelles conformément à notre politique de confidentialité. Nous ne partagerons pas vos
            informations avec des tiers sans votre consentement.
        </p>

        <h2>9. Modification des CGV</h2>

        <p class="merriweather">
            Nous nous réservons le droit de modifier les présentes CGV à tout moment. Les CGV applicables à votre commande seront celles en vigueur
            au moment de votre commande.
        </p>

        <h2>10. Contact</h2>

        <p class="merriweather">
            Si vous avez des questions ou des préoccupations concernant nos conditions générales de vente, veuillez nous contacter via les coordonnées suivantes :
        </p>

        <p class="merriweather">
            Sity<br>
            {# Adresse : [Votre adresse]<br>
            Téléphone : [Votre numéro de téléphone]<br>
            E-mail : [Votre adresse e-mail] #}
        </p>
    </div>
{% endblock %}
