{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block header %}{% endblock %}


{% block body %}
    <div class="container">
        <h1>Mentions Légales</h1>

        <h2>1. Informations légales</h2>

        <p>Raison sociale : Sity</p>
        <p>Statut juridique : [Forme juridique de l'entreprise]</p>
        <p>Siège social : [Adresse du siège social de l'entreprise]</p>
        <p>Téléphone : [Numéro de téléphone de l'entreprise]</p>
        <p>E-mail : [Adresse e-mail de contact de l'entreprise]</p>
        <p>SIRET : [Numéro SIRET de l'entreprise]</p>
        <p>Directeur de publication : [Nom du directeur de publication]</p>

        <h2>2. Hébergement</h2>

        <p>Notre site web est hébergé par : [Nom de l'hébergeur]</p>
        <p>Adresse : [Adresse de l'hébergeur]</p>
        <p>Téléphone : [Numéro de téléphone de l'hébergeur]</p>
        <p>E-mail : [Adresse e-mail de contact de l'hébergeur]</p>

        <h2>3. Propriété intellectuelle</h2>

        <p>Tous les contenus présents sur notre site (textes, images, logos, etc.) sont protégés par le droit d'auteur et la propriété intellectuelle.
            Toute reproduction ou utilisation non autorisée de ces contenus est strictement interdite.</p>

        <h2>4. Collecte de données personnelles</h2>

        <p>Nous collectons des données personnelles lorsque vous utilisez notre site web. Les informations collectées sont traitées conformément
            à notre politique de confidentialité. Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles.
            Pour exercer vos droits, veuillez nous contacter via les coordonnées fournies ci-dessus.</p>

        <h2>5. Cookies</h2>

<p>Notre site web utilise des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte qui sont stockés sur votre appareil lorsque vous visitez notre site. Ils nous permettent de reconnaître votre navigateur et de vous offrir des fonctionnalités améliorées.</p>

<p>Nous utilisons les types de cookies suivants :</p>

<ul>
    <li>Cookies essentiels : Ces cookies sont nécessaires au bon fonctionnement du site web. Ils vous permettent de naviguer sur le site et d'utiliser ses fonctionnalités de base.</li>
    <li>Cookies analytiques : Ces cookies nous aident à comprendre comment les visiteurs interagissent avec notre site en recueillant des informations de manière anonyme. Cela nous permet d'améliorer continuellement notre site et de fournir un contenu pertinent.</li>
    <li>Cookies de personnalisation : Ces cookies permettent de mémoriser vos préférences et de personnaliser votre expérience sur notre site.</li>
    <li>Cookies publicitaires : Nous utilisons ces cookies pour vous présenter des publicités qui sont pertinentes pour vous et vos intérêts. Ils sont également utilisés pour limiter le nombre de fois où vous voyez une publicité et pour mesurer l'efficacité des campagnes publicitaires.</li>
</ul>

<p>Vous pouvez gérer vos préférences en matière de cookies en modifiant les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter certaines fonctionnalités de notre site web.</p>

<p>En continuant à utiliser notre site web, vous consentez à l'utilisation de cookies conformément à notre politique de cookies.</p>

<p>Pour en savoir plus sur l'utilisation des cookies sur notre site et sur la façon dont nous traitons vos données personnelles, veuillez consulter notre politique de confidentialité.</p>


        <h2>6. Liens vers des sites tiers</h2>

        <p>Notre site web peut contenir des liens vers des sites web de tiers. Nous n'avons aucun contrôle sur le contenu et les pratiques de ces
            sites web externes, et nous déclinons toute responsabilité quant à leur contenu ou à leurs pratiques de confidentialité.</p>

        <h2>7. Limitation de responsabilité</h2>

        <p>Nous mettons tout en œuvre pour assurer l'exactitude et la mise à jour des informations présentes sur notre site web. Cependant, nous ne
            pouvons pas garantir l'absence d'erreurs ou d'omissions, ni l'exactitude, l'exhaustivité ou la pertinence des informations fournies.
            En conséquence, nous déclinons toute responsabilité quant à l'utilisation qui pourrait être faite de ces informations. En utilisant
            notre site web, vous acceptez de le faire à vos propres risques.</p>

        <h2>8. Droit applicable et juridiction compétente</h2>

        <p>Les présentes mentions légales sont régies par le droit [Indiquez le droit applicable]. Tout litige relatif à l'utilisation de notre site
            web sera soumis à la juridiction exclusive des tribunaux compétents de [Indiquez le lieu de juridiction compétent].</p>

        <h2>9. Modification des mentions légales</h2>

        <p>Nous nous réservons le droit de modifier les présentes mentions légales à tout moment. Les mentions légales applicables seront celles en
            vigueur au moment de votre utilisation du site web.</p>

        <h2>10. Contact</h2>

        <p>Si vous avez des questions ou des préoccupations concernant nos mentions légales, veuillez nous contacter via les coordonnées fournies
            ci-dessus.</p>
    </div>
{% endblock %}