{% extends 'base.html.twig' %}

    {% block header %}{% endblock %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <div class="container">
        <h1>Politique de confidentialité</h1>

        <p class="merriweather">
            Chez [Nom de votre entreprise], nous accordons une grande importance à la protection de vos données personnelles.
            Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations lorsque
            vous utilisez notre site web et nos services.
        </p>

        <h2>Collecte des informations</h2>

        <p class="merriweather">
            Lorsque vous naviguez sur notre site ou effectuez un achat, nous collectons certaines informations personnelles vous concernant.
            Cela peut inclure votre nom, votre adresse e-mail, votre adresse de livraison, votre numéro de téléphone, ainsi que les détails
            de paiement que vous fournissez lors de l'achat.
        </p>

        <h2>Utilisation des informations</h2>

        <p class="merriweather">
            Nous utilisons les informations que nous collectons pour traiter vos commandes, livrer les produits que vous avez achetés,
            vous contacter en cas de besoin, personnaliser votre expérience utilisateur, améliorer notre site web et vous informer des
            offres spéciales et des nouveautés susceptibles de vous intéresser.
        </p>

        <h2>Protection des informations</h2>

        <p class="merriweather">
            Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé,
            toute divulgation ou toute destruction. Nous utilisons des protocoles de sécurité avancés pour sécuriser vos données sensibles,
            et nous ne conservons vos informations que pendant la durée nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées.
        </p>

        <h2>Partage des informations</h2>

        <p class="merriweather">
            Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers, sauf dans les cas suivants :
        </p>

        <ul>
            <li>Si cela est nécessaire pour le traitement de votre commande et la livraison des produits que vous avez achetés.</li>
            <li>Si nous y sommes légalement obligés en vertu de la loi en vigueur.</li>
            <li>Si vous avez donné votre consentement préalable pour le partage de vos informations.</li>
        </ul>

        <h2>Cookies</h2>

        <p class="merriweather">
            Notre site web utilise des cookies pour améliorer votre expérience utilisateur et vous fournir un contenu personnalisé.
            Les cookies sont de petits fichiers texte stockés sur votre ordinateur qui nous aident à reconnaître votre navigateur
            et à mémoriser certaines informations. Vous pouvez modifier les paramètres de votre navigateur pour refuser les cookies,
            mais cela peut affecter certaines fonctionnalités de notre site.
        </p>

        <h2>Vos droits</h2>

        <p class="merriweather">
            Vous avez le droit d'accéder, de rectifier, de mettre à jour ou de supprimer les informations personnelles que nous détenons à votre sujet.
            Vous pouvez exercer ces droits en nous contactant via les coordonnées fournies en bas de cette page.
        </p>

        <h2>Consentement</h2>

        <p class="merriweather">
            En utilisant notre site web, vous consentez à notre politique de confidentialité et à la collecte et à l'utilisation de vos informations
            conformément aux conditions énoncées dans cette politique.
        </p>

        <p class="merriweather">
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter via les coordonnées suivantes :
        </p>

        <p class="merriweather">
            Sity<br>
            {# Adresse : [Votre adresse]<br>
            Téléphone : [Votre numéro de téléphone]<br>
            E-mail : [Votre adresse e-mail] #}
        </p>
    </div>
{% endblock %}
