{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block header %} {% endblock %}
{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword, {'attr': {'class': 'iinput'}}) }}
        <button class="btn btn-order">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}