{% extends 'base.html.twig' %}

{% block title %}Site Vitrine{% endblock %}

{% block body %}
    <h1 class="mb-5">Site Vitrine!</h1>
        <div class="container">
            <p class="merriweather">Votre site vitrine conçu par Sity vous permettra de mieux communiquer, de renforcer votre image et votre visibilité sur Internet. C'est un outil de communication indispensable pour vous démarquer de la concurrence et vous faire connaître.</p>
        </div>

        <h2 class="mt-5">Choisissez votre style de site vitrine!</h2>
        <div class="d-none d-sm-block">
            {% include './template_parts/carousel_vitrine.html.twig' %}
        </div>
        <section id="cards" class="col-12 row-2 mb-5">
             <div class="row">
        <div class="col-6 row">
            <h2 class="mt-5">Pourquoi avez vous besoin d'un site vitrine ?</h2>
            <div class="container">
                <p class="merriweather">
                    Si vous avez besoin de présenter votre activité, vos produits et vos services, un site vitrine est fait pour vous. Un site internet est un moyen efficace pour gagner des parts de marché !

                    Profitez d'une force de vente opérationnelle 24h sur 24h et 365 jours par an ! Un site vitrine vous permettra également de communiquer avec un e-mail personnalisé reprenant votre nom de domaine pour véhiculer votre marque.
                </p>
            </div>
        </div>

        
            <div class="col-6">
        <h2 class="mt-5">Avantage de votre site vitrine </h2>
        <div class="container">
            <p class="merriweather">
                Tous les sites vitrines mis en ligne par notre agence sont 100 % responsive web design, ils s'adaptent à tous les types de terminaux. De l'écran de pc à votre Smartphone, un site vitrine responsive permet de conserver un excellent confort de navigation.

                Tous nos sites vitrines sont également entièrement administrables, ils permettent d'ajouter et de modifier très facilement des pages pour mettre à jour votre site internet.
            </p>
            </div>
        </div>
        
                <div class="col-12">
                <h2>Objectifs et Dispositions</h2>
                    <p class="merriweather">
                        Notre objectif est d'offrir avant tout un service de qualité adapté à vos besoins. Vous pouvez nous contacter à tout moment pour un devis sur-mesure. Retrouvez nos références sur notre portfolio.

                        Bien que notre agence soit située à mi-chemin entre Compiègne dans l'Oise et Soissons dans l'Aisne, la création de site internet ne nécessite pas forcément un déplacement physique. Nous réalisons des sites internet vitrines pour des clients installés à plus de 800 kilomètres de Compiègne et même à l'étranger.
                    </p>
                </div>  
            </p>
        </div>
        </div>
        </section>
{% block header %}  {% endblock %}

{% endblock %}
