{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

{% block header %} {% endblock %}
    
    <h1>Modifier mes coordonnées</h1>
    
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
