{% extends 'base.html.twig' %}

{# {% extends 'layout-full-width.html.twig' %} #}


{% block title %}Hello AdminController!{% endblock %}


{% block contentFullWidth %}

{% block body %} 

    {% block header %} {% endblock %}

    <div>
    page Admin dashboard ...
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Tél</th>
                <th scope="col">Ville</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        {% for users in user %}
        <td>{{ user.email }}</td>
        {% endfor %}
            <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        <tr>
            <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
        <tr>
            <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
         </tbody>
    </table>

{% endblock %}

{% endblock %}

