{% extends 'base.html.twig' %}

{% block title %}Site E-commerce{% endblock %}

{% block body %}
{% block header %}  {% endblock %}
 <h2 class="mt-5">Choisissez votre style de site vitrine!</h2>
 <div class="d-none d-sm-block">
    {% include './template_parts/carousel_ecommerce.html.twig' %}
</div>
{% endblock %}
