{% extends 'base.html.twig' %}

{% block title %}Nos realisations{% endblock %}

{% block body %}

{% block header %}  {% endblock %}
<h2 class="mb-5" >Des projets qu'on a pu réaliser !</h2>

<div class="container mb-2">
    <p class="merriweather" style="font-size: 30px;">Des clients ravient du travail effectuée par notre équipe Sity, tous cela grâce à une étroite collaboration avec le client et des échanges régulier sur l'avancement du projet en temps et en heure !</p>
</div>
<section class="container mb-4">
    <div class="row">
        <div class="col-4 m-1">
            <div class="aspect-ratio aspect-ratio-4x3">
                <a href="https://bytheway-app.com/">
                <img class="img-fluid aspect-ratio-img rounded" src="{{ asset('assets/img/ByTheWay_confiance.png') }}" alt="">
                </a>
                <h3 class="text-center">By The Way</h3>
            </div>
        </div>
        <div class="col-4 m-1">
            <div class="aspect-ratio aspect-ratio-4x3">
                <img class="img-fluid aspect-ratio-img rounded" src="{{ asset('assets/img/Restau_confiance.png') }}" alt="">
                <h3 class="text-center">Sity Food</h3>
            </div>
        </div>
        <div class="col-4 m-1">
            <div class="aspect-ratio aspect-ratio-4x3">
              <a href="https://sitna.fr/">
                <img class="img-fluid aspect-ratio-img rounded" src="{{ asset('assets/img/page_daccueil.png') }}" alt="">
              </a>
                <h3 class="text-center">Sity</h3>
            </div>
        </div>
    </div>
</section>

{% endblock %}
	{% block javascripts %}
{% endblock %}