section{
    border: #B2A59F solid 1rem;
    border-radius: 50px;
    padding-bottom: 5px;
}

.redressed{
    font-family: 'Redressed', cursive;
}
.merriweather{
    font-family: 'Merriweather', serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#E5D0C6;
    font-weight: 100;
    font-size: 4rem;
}

.btn-order{
    color: #B2A59F;
    border-color: var(--bs-beige);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active{
    color: #023459;
    font-weight:600;
    background-color: #B2A59F;
    transition: 0.5s;
}


.input-color{
    background: #B2A59F;
    border: #958178 solid 0.3rem;
    color:#1E646E;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input-color:focus{
    background: #B2A59F;
    border: #958178 solid 0.3rem;
    color:#145761;
    font-family: Georgia, 'Times New Roman', Times, serif;
}