{% extends 'base.html.twig' %}

{% block title %}Site Sur Mesure{% endblock %}

{% block body %}
{% block header %}  {% endblock %}
 <h2 class="mt-5">Choisissez votre style de site Sur mesure!</h2>
 <div class="d-none d-sm-block">
    {% include './template_parts/carousel_surMesure.html.twig' %}
</div>
<div class="d-sm-none d-lg-none">
    {% include './template_parts/card_Sur_mesure.html.twig' %}
</div>
{% endblock %}
