<div class="caroussel mb-5">
    <div class="caroussel-cards mb-5">
             {% for produit in produit %}
                 {% if produit.categorie.name == 'Ecommerce' %}
             <div class="cards">
                 <img class="img mb-3" src="{{ asset( 'assets/img/' ~ produit.img) }}" alt="">
                 <a href="{{ path('app_add_panier', {id: produit.id}) }}" class="btn-color">
                    <p class="m-auto" id="NomSite">Ajouter au panier</p>
                 </a>
             </div>
              {% endif %}
                  {% endfor %}
    </div>
    <div class="control_caroussel mt-4">
             <button class="btn btn-order fw-bold previous">previous</button>
             <button class="btn btn-order fw-bold ms-5 next">next</button>
    </div>
</div>