<div class="container-fluid col-11 p-0 chiffre_affaire ml-3">
  <div class="position-relative">
    <p class="merriweather col-lg-5 col-md-10 col-12 position-absolute rounded-3 mt-5 m-3">
      Vous souhaitez développer votre projet ou entreprise ? Rien de mieux qu'un site web pour plus de visibilité et une meilleure organisation dans la gestion du projet. Car en effet, aujourd'hui le monde de l'informatique fait partie de notre quotidien. C'est donc un moyen incontournable pour développer votre projet ou encore augmenter votre chiffre d'affaires !
    </p>
    <img class="col-12" src="{{ asset('assets/img/chiffre_affaire.jpeg') }}" alt="chiffre d'affaires">
  </div>
</div>
