<div class="container-fluid col-12 w-10 chiffre_affaire">
 <p class=" merriweather col-5 z-2 position-absolute p-5 rounded-3 chiffre_affaire mt-5">Vous souhaitez développer votre projet ou entreprise? Rien de mieux qu'un site web pour plus de visibilité et une meilleure organisation dans la gestion du projet. Car en effet aujourd'hui le monde de l'informatique fait partie de notre quotidien. C'est donc un moyen incontournable pour développer votre projet ou encore augmenter votre chiffre d'affaire!
        </p>
        <img class="col-12 img-fluid" src="{{ asset('assets/img/chiffre_affaire.jpeg') }}" alt="chiffre d'affaire">
</div>