<style>
    .aspect-ratio-img {
        object-fit: cover;
    }
</style>

<h2>Ils nous font confiance !</h2>

<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 m-2">
            <div class="aspect-ratio aspect-ratio-4x3">
                <a href="https://bytheway-app.com/">
                <img class="img-fluid aspect-ratio-img rounded" src="{{ asset('assets/img/png_logo.png') }}" alt="">
                </a>
                <h5 class="mt-2">By The Way</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 m-2">
            <div class="aspect-ratio aspect-ratio-4x3">
                <img class="img-fluid aspect-ratio-img rounded" src="{{ asset('assets/img/Restau_logo.jpg') }}" alt="">
                <h5 class="mt-2">Sity Food</h5>
            </div>
        </div>
    </div>
</section>

