<div class="container-fluid col-11 mx-auto my-3 p-0 row">
  <h2 class=" nousanim mb-5 mt-5 col-md-6 col-sm-12" id="nous">L'agence web Sity</h2>
  <div class="nousanimG col-md-6 col-sm-12">
    <p class=" nous merriweather" style="font-size: 30px;">Sity c'est Ton SITE, nous t'accompagnons donc dans tous les secteurs d'activité le développement digital des entreprises. De petites à énorme taille cela ne nous pose aucune barrière</p>
     <div class=" col-5 ml-5 col-md-6 col-sm-12">
      <img src="{{ asset('assets/logo/logo_sity.png')}}" style="width: 200px; height: auto;" alt="logo">
    </div>
  </div>
  <div class="nousanimGa col-md-6 col-sm-12">
    <p class=" nous merriweather" style="font-size: 30px;">Notre agence web vous offre le développement de votre stratégie digitale grâce à votre demande sur-mesure et un accompagnement tout au long et après le déploiement de votre site.</p>
  </div>
</div>