<section class="container-fluid col-12 mt-5 mb-5 row">
    <h2 class"mb-5 mt-5 col-6" id="nous">L'agence web Sity</h2>
    <div class="col-6">
        <p class="nous">Sity c'est Ton SITE, nous t'accompagnons donc dans tous les secteurs d'activité le développement digital des entreprises. De petites à énorme taille cela ne nous pose aucune barrière</p>
    </div>
    <div class="col-6">
        <p class="nous">Notre agence web vous offre le développement de votre stratégie digitale grâce à votre demande sur-mesure et un accompagnement tout au long et apres le déploiement de votre site.</p>

        <img src="" alt="logo">
    </div>

</section>