{% extends 'base.html.twig' %}


{% block title %}Hello AdminController!{% endblock %}


{% block body %} 

    {% block header %} {% endblock %}

    <div>
    page User dashboard ...
    </div>
    
{% endblock %}
